// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Colors
// =================================================================

$colorWhite: #FFF;
$colorOne: #a38d32;
$colorTwo: #d3d3d3;
$colorThree: #f5f5f5;
$colorType: #7a7a7a;