// 4D 69 6C 6E  4C 74 64
// =================================================================
// 		Miln Ltd
// 			Digital Experiences
// 		Pages
// =================================================================

.home {
	width: 100%;
	height: 500px;
	background: #015ec5;
	padding: 70px 0;
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 65%, 0% 100%);
	margin-top: 120px;
	position: relative;
	z-index: 10;
	overflow: hidden;

	.grid-container {
		border: none;
	}

	.col-7 {
		display: block;
		margin: 0 auto;
		padding: 0;
		float: none;

		h1, p {
			color: #fff;
		}

		h1 {
			width: intrinsic;
			border-bottom: 3px solid $colorOne;
			margin: 65px auto 25px auto;
			display: block;
		}
	}

	img {
		top: 0;
		position: fixed;
		overflow: hidden;
		height: 1000px;
		z-index: -100;
		@include animation(slide 60s linear alternate infinite);
	}

	@include mq("extra-small", "max-width") {
		margin-top: 90px;
		.col-7 {
			width: 100%;
			margin-top: 90px;

			h1 {
				margin: 25px auto 25px auto;
				font-size: 2.5em;
				width: 330px;
			}
		}		
	}

	@include mq("super-small", "max-width")	{
		.col-7 {

			h1 {
				margin: 15px auto 15px auto;
				font-size: 2em;
				width: 268px;
			}
		}	
	}
}

.home-triangle {
	position: fixed;
	z-index: 10;
	height: 100vh;
	width: 100%;

	div {
		width: 150px;
	}

	.top-right {
		position: fixed;
		z-index: 10;
		top: 140px;
		right: 0;
	}

	.bottom-right {
		position: fixed;
		z-index: 10;
		bottom: 30px;
		width: 230px;
		right: 130px;
	}

	.top-left {
		position: fixed;
		z-index: 10;
		top: 130px;
		left: -50px;
		width: 280px;
	}

	.bottom-left {
		position: fixed;
		z-index: 10;
		bottom: -40px;
		width: 260px;
		left: -5px;
	}

	@include mq("small", "max-width") {
		.top-right {
			top: 120px;
			width: 150px;
			right: -50px;;
		}

		.top-left {
			left: -30px;
			top: 120px;
			width: 180px;
		}

		.bottom-right {
			display: none;
		}

		.bottom-left {
			width: 180px;

		}
	}

	@include mq("extra-small", "max-width") {
		.top-right {
			top: 120px;
			width: 100px;
			right: -50px;;
		}

		.top-left {
			left: -30px;
			top: 120px;
			width: 180px;
		}

		.bottom-right {
			width: 150px;
			right: 20px;
		}

		.bottom-left {
			width: 150px;

		}
	}

	@include mq("super-small", "max-width") {
		.top-right {
			top: 100px;
			width: 80px;
			right: -50px;;
		}

		.top-left {
			left: -30px;
			top: 120px;
			width: 150px;
		}

		.bottom-right {
			
		}

		.bottom-left {
			width: 120px;

		}
	}
}

.about {
	position: relative;
	z-index: 1;

	.grid-container {
		margin-top: -250px;
		padding-top: 250px;
		z-index: 10;
		position: relative;
	}

	.row {
		z-index: 100;
		position: relative;
	}
	
	.col-8 {
		display: block;
		margin: 0 auto;
		padding: 0;
		float: none;
	}

	.poly-strip {
		margin-top: 30px;
		width: 100%;
		height: 650px;
		overflow: hidden;
		position: relative;

		div {
			width: 100%;
			opacity: 0;
			
			img {
				position: absolute;
				top: 0;
				left: 0;
				-webkit-clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
				clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
				width: 100%;
			}

			&:first-child {
				z-index: 1;
				opacity: 1;
			}

			&:nth-child(2) {
				@include animation(5s 5s fade forwards);
				z-index: 2;
			}

			&:nth-child(3) {
				@include animation(5s 10s fade forwards);
				z-index: 3;
			}
 
			&:nth-child(4) {
				@include animation(5s 15s fade forwards);
				z-index: 4;
			}
		}
	}

	@include mq("large", "min-width") {

		.poly-strip {
			height: 680px;
		}
	}

	@include mq("medium", "max-width") {

		.poly-strip {
			height: 690px;
		}

		.poly-strip img {	
			@include transform-origin(center center);
			@include transform(scale(1.5));
			margin-left: 40px;
			margin-top: 70px;
		}
	}

	@include mq("extra-small", "max-width") {

		.col-8 {
			width: 100%;
		}

		.poly-strip {
			height: 600px;
			width: 100%;
			position: relative;

			img {
				position: absolute;
				left: 0;
				margin-left: -30px;
				top: -40px;
				margin-left: 25px;
				
			}
		}
	}

	@include mq("super-small", "max-width") {
		.poly-strip {
			height: 330px;

			img {
				margin-top: 80px;
				margin-left: 25px;
			}
		}
	}	
}

.what {
	background: #f5f5f5;
	padding-top: 250px;
	margin-top: -250px;
	position: relative;

	p.large:last-child {
		padding-bottom: 100px;
	}

	.row {
		border-bottom: 1px solid $colorTwo;
		z-index: 100;
		position: relative;
	}

	.row:last-child {
		border-bottom: 0;
	}

	img {
		padding-bottom: 20px;
	}

	.center {
		display: block;
		margin: 0 auto;
		padding: 0;
		float: none;
	}

	.residential {
		padding-bottom: 30px;
	}

	.conversion {
		padding-bottom: 50px;

		.col-4 {
			padding-top: 10px;
		}
	}

	.refurbishment {
		padding-bottom: 50px;

		.col-4 {
			padding-top: 40px;
		}
	}

	.management {
		padding-bottom: 50px;

		.col-4 {
			padding-top: 25px;
		}
	}

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 200px;
		position: absolute;
		bottom: -200px;
		background: #f5f5f5;
		clear: both;
		-webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
		clip-path: polygon(0 0, 0 100%, 100% 0);
	}

	@include mq("medium", "max-width") {
		.col-6 {

			p {
				padding-bottom: 50px;
			}
		}

		.poly-strip img {
			@include transform-origin(center center);
			@include transform(scale(1.5));
			margin-left: 40px;
			margin-top: 70px;
		}
	}

	@include mq("small", "max-width") {

		p.large {
			margin-bottom: 0px;
		}

		.col-6 {
			width: 100%;

			p {
				padding-bottom: 0px;
				text-align: center;
			}

			h3 {
				text-align: center;
			}
		}

		.poly-strip {
			height: 180px;
			width: 100%;
			position: relative;
			margin-bottom: 50px;

			img {
				position: absolute;
				left: 0;
				margin-left: -30px;
				top: -90px;
				margin-left: 25px;
			}
		}

		.col-4 {
			width: 50%;
			margin: 0 auto;
			display: block;
			float: none;
		}
	}

	@include mq("small", "max-width") {
		background: #fff;

		&:after {
			background: #fff;
		}
	}

	@include mq("extra-small", "max-width") {

		.row:last-child .col-4 {
			padding-top: 25px;
		}

		.col-4 {
			width: 100%;
		}

		.col-6 {
			width: 100%;

			p {	
				padding-bottom: 40px;
			}
		}

		.row.management {
			padding-bottom: 10px;
		}

		.center {
			width: 100%;
		}

		img {
			width: 100%;
		}		
	}

	@include mq("super-small", "max-width") {

		.poly-strip {

			img {
				margin-top: 80px;
				margin-left: 25px;
			}
		}
	}

}

.project {
	position: relative;
	z-index: 10;

	.grid-container {
		margin-top: -50px;
		padding-top: 50px;
	}

	.logo-centre {
		width: 150px;
		height: 150px;
		margin: 25px auto 100px auto;
		display: block;
	}

	@include mq("extra-small", "max-width") {
		.logo-centre {
			display: none;
		}
	}
}

.contact {
	height: auto;
	overflow: auto;

	.details {
		padding: 40px 40px 0px 40px;
	}

	.row {
		z-index: 100;
		position: relative;
	}

	h2 {
		margin-top: 0px;
	}

	h4 {
		text-align: left;
		text-transform: none;
		letter-spacing: 0;
		color: $colorOne;
	}

	a {
		font-size: 1.25em;
		font-weight: 100;
		color: $colorType;
		clear: both;
		float: none;
		text-decoration: underline;
		display: block;
		line-height: 1.5em;
	}

	.col-8 {
		display: block;
		margin: 0 auto;
		padding: 0;
		float: none;
	}

	.row:last-child {
		padding-bottom: 0;
		margin-bottom: 75px;
		border-bottom: 1px solid $colorTwo;
	}

	.row:first-child {
		border-top: 1px solid $colorTwo;
		padding-top: 60px;
	}

	.row:nth-child(2) {
		padding-bottom: 20px;
		border-top: 1px solid $colorTwo;
	}

	#map {
		width: 100%;
		height: 500px;
		z-index: 500;

		a {
			border-bottom: 0px;
			font-size: 1em;
		}

		.leaflet-control-attribution {
			display: none;
		}
	}

	@include mq("small", "max-width") {
		.col-8 {
			width: 100%;
		}

		fieldset.form-half {
			width: 100%;

			&:nth-child(even) {
				margin-left: 0;
			}	
		}

		.row:last-child {
			padding-bottom: 25px;
			margin-bottom: 25px;
		}
	}

	@include mq("extra-small", "max-width") {
		.col-4 {
			width: 100%;

			h4, p, a {
				text-align: center;
			}
		}

		#map {
			height: 350px;
		}
	}

	
}

.alert-bottom {
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px 15px;
	background: $colorOne;
	@include animation(slideUp 5s ease-in-out forwards);

	h3 {
		margin: 0;
		color: #fff;
		font-size: 1.25em;
		text-align: center;
	}

	@include mq("super-small", "max-width") {
		font-size: 1em;
	}
}